---
# vim:set ts=2 sts=2 sw=2 noet:
---
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>vim-jp &raquo; {{ page.title }}</title>
<link rel="stylesheet" href="/vim-users-jp/assets/css/site.css" type="text/css" />
<link rel="stylesheet" href="/vim-users-jp/assets/css/table.css" type="text/css" />
<link rel="stylesheet" href="/vim-users-jp/assets/css/syntax.css" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://vim-jp.org/rss.xml" />
<link rel="canonical" href="http://vim-jp.org/vim-users-jp{{ page.url }}" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script src="/vim-users-jp/assets/js/lang-vim.js"></script>
<script>
	(function(doc, script) {
		window.___gcfg = {lang: 'ja'};
		//Async Social Buttons
		var fjs = doc.getElementsByTagName(script)[0];
		var add = function(url, id) {
			if (doc.getElementById(id)) {return;}
			var js = doc.createElement(script);
			js.src = url;
			id && (js.id = id);
			fjs.parentNode.insertBefore(js, fjs);
		};

		// Twitter SDK
		add('//platform.twitter.com/widgets.js', 'twitter-wjs');
		// Google+ button
		add('//apis.google.com/js/plusone.js');
		// Facebook SDK
		add('//connect.facebook.net/ja_JP/all.js#xfbml=1', 'facebook-jssdk');
		// Hatena
		add('//b.st-hatena.com/js/bookmark_button_wo_al.js');

		window.onload = function() {
			prettyPrint();
		};
	})(document, 'script');
</script>
</head>
<body>
	<div class="header">
		<h1><a href="/vim-users-jp/">vim-users.jp</a></h1>
	</div>
	<div class="body">
		<div id="content">
			<div class="entry">
			{{ content }}
			</div>
		</div>
	</div>
</body>
</html>
